.nav-link {
  font-size: 2rem;
}

.center-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.website-info {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  font-size: 2rem;
}

.home-background {
  background-image: url("./images/twitter-bird-icon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.stick {
  width: 20%;
  height: 20%;
}

.toast {
  max-width: 100%;
}

.toast:not(:last-child) {
  margin-bottom: 0;
}

i:hover {
  color: rgb(255, 255, 255);
}
